<h1>Choose Facebook pages to integrate</h1>

<p>{{result.1.access_token}}</p>
<p>{{result.1.id}}</p>
<ul>
	{{#each result}}
		<p>{{this.id}}</p>
		<a href='/fbPageConfirmation?pageId={{this.id}}'> Authorize {{this.name}}</li></a>
		<br></br>
	{{/each}}
</ul>
		<a href='/integrate'> Return to integrations page</li></a>


