<h1>Youtube</h1>
{{#each data.youtube}}
<h2>Title: {{this.snippet.title}}</h2>
<h3>Description: {{this.snippet.description}}</h3>
{{#each this.snaps}}
<div>
<p>Likes: {{this.likes}}</p>
<p>Dislikes: {{this.dislikes}}</p>
<p>Comments: {{this.comments}}</p>
</div>
{{/each}}
{{/each}}
{{!-- <h1>Instagram</h1>
{{#each data.youtube}}
<p>Title: {{this.snippet.title}}</p>
<p>Description: {{this.snippet.description}}</p>
{{#each this.snaps}}
<p>Likes: {{this.likes}}</p>
<p>Dislikes: {{this.dislikes}}</p>
{{/each}}
{{/each}}
<h1>Vine</h1>
{{#each data.youtube}}
<p>Title: {{this.snippet.title}}</p>
<p>Description: {{this.snippet.description}}</p>
{{#each this.snaps}}
<p>Likes: {{this.likes}}</p>
<p>Dislikes: {{this.dislikes}}</p>
{{/each}}
{{/each}}
<h1>Facebook</h1>
{{#each data.youtube}}
<p>Title: {{this.snippet.title}}</p>
<p>Description: {{this.snippet.description}}</p>
{{#each this.snaps}}
<p>Likes: {{this.likes}}</p>
<p>Dislikes: {{this.dislikes}}</p>
{{/each}}
{{/each}}
<h1>Twitter</h1>
{{#each data.youtube}}
<p>Title: {{this.snippet.title}}</p>
<p>Description: {{this.snippet.description}}</p>
{{#each this.snaps}}
<p>Likes: {{this.likes}}</p>
<p>Dislikes: {{this.dislikes}}</p>
{{/each}}
{{/each}} --}}